<div id="{{ id }}" class="modal">
  <div class="modal-background" onClick="close_modal()"></div>
  <div class="modal-content">
    <div class="close-modal" onClick="close_modal()">
      <p>&times;</p>
    </div>
    <div class="header">
      <p class="date">{{ project.date }}</p>
      <p class="title">{{ project.title }}</p>
      <p class="summary">{{ project.summary }}</p>
      <a target="blank" href="{{ project.url }}">{{ project.url }}</a>
    </div>
    <div class="content">
      {% if project.image and project.title != 'Shakespeare 400 Exhibition iPad
      App' %}
      <img src="/assets/project/{{ project.image }}" alt="" />
      {% endif%} {% if project.youtube %}
      <iframe
        src="https://www.youtube.com/embed/{{ project.youtube }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      {% endif %}
      <div class="description">{{ project.description }}</div>
      {% for content in project.contents %}
      <div class="sub-content">
        <div class="title">{{ content.title }}</div>
        {% if content.image %}
        <img
          src="/assets/project/{{ content.image }}"
          alt="{{ content.title }}"
        />
        {% endif %}
        <div class="description">{{ content.description }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
