<section id="project">
  <div class="project-wrap">
    <p class="title text-center mb-4">PROJECTS 🙋🏻</p>
    <div class="card-container">
      {% assign sorted = site.data.projects | sort: 'project.date' | reverse %} {% for _
      in sorted %} {% assign project = _.project %} {% assign id = id | plus: 1
      %}
      <div class="card-wrapper">
        <div title="{{ id }}"
        onClick="open_modal(this.title)" class="card">
          {% if project.image %}
          {% assign has_link = !!project.url %}
          {% assign custom_classes = '' %}
          {% if has_link  %}
            {% assign custom_classes = custom_classes | append: 'has-link' %}
          {% endif %}
          {% if has_link  %}
          <a target="_blank" href="{{ project.url }}">
            <div class="img-wrap {{ custom_classes }}">
              <img src="/assets/project/{{ project.image }}" alt="" />
            </div>
          </a>
          {% else %}
          <div class="img-wrap {{ custom_classes }}">
            <img src="/assets/project/{{ project.image }}" alt="" />
          </div>
          {% endif %}
          
          
          {% endif %}
          <div class="text-wrap {% if project.image %}{% endif %}">
            <div class="title-wrap">
              <p class="date">{{ project.date }}</p>
              <div class="title">{{ project.title }}</div>
            </div>
            <ul class="tag-wrap">
              {% if project.skills %} {% for skill in project.skills %}
              <li class="tag-sm">#{{ skill }}</li>
              {% endfor %} {% endif %}
            </il>
            <div class="description">{{ project.description }}</div>
          </div>
        </div>
      </div>
      <!-- Modal Box -->
      {% if project.modal %} {% include modal.html %} {% endif %}
      <!-- Modal Box -->
      {% endfor %}
    </div>
  </div>
  <div class="bg"></div>
</section>

<!-- modal -->
<script type="text/javascript" src="/assets/js/modal.js"></script>
