---
layout: page
---
{% assign profile = site.theme_settings.profile %}

</div><!-- This Tag means End .container -->
<div id="protfolio">
  <section id="about-me">
    <div class="row">
      <div class="img-wrap">
        <div class="img">
          <img src="{{ site.baseurl }}/{{ profile.image }}" alt="user_image">
        </div>
      </div>
      <div class="text-wrap">
        <h2 class="username">{{ profile.username }}</h2>
        <pre><code id="typed-text" class="javascript">
        </code></pre>
        <ul id="icons">
          {% include icons.html %}
        </ul>
      </div>
    </div>
    <div class="bg"></div>
    <div class="bg-overlay"></div>
  </section>
  <!-- career section -->
  <section id="career" class="row">
    <article class="exper col-12 col-md-6">
      <p class="title">WORK</p>
      <ul class="exper-list">
        {% for exp in  profile.experience %}
        <li class="meta">
          <p class="date">{{ exp.start }} ~ {{ exp.end }}</p>
          <p class="description">{{ exp.experience }}</p>
        </li>
        {% endfor %}
      </ul>
      
    </article>
    <article class="exper col-12 col-md-6">
      <p class="title">EDUCATION</p>
      <ul class="exper-list">
        {% for exp in  profile.education %}
        <li class="meta">
          <p class="date">{{ exp.start }} ~ {{ exp.end }}</p>
          <p class="description">{{ exp.experience }}</p>
        </li>
        {% endfor %}
      </ul>
    </article>
    <article class="skills col-12 col-md-6">
      <p class="title">SKILLS</p>
      <ul class="skill-list">
        {% for _ in profile.skills %}
        <span class="tag">{{ _.skill }}</span>
        {% endfor %}
      </ul>
      
    </article>
    <article class="skills col-12 col-md-6">
      <p class="title">ACHIEVEMENTS</p>
      <ul class="skill-list">
        {% for _ in profile.achievements %}
        <span class="tag">{{ _.achievement }}</span>
        {% endfor %}
      </ul>
    </article>
  </section>

  {% include projects.html %}

  {% include cv.html %}

  
</div>

<!-- Footer -->
{% include footer.html %}

<!-- Vanta-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>
<script>
  VANTA.WAVES({
    el: "#about-me .bg",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.0,
    minWidth: 200.0,
    scale: 1.0,
    scaleMobile: 1.0,
    waveHeight: 10.0,
  });
</script>

<script src="https://unpkg.com/typeit@8.4.0/dist/index.umd.js"></script>


<script>
  // Add element to code block
const injectionDiv = document.getElementById('inject-here');

  new TypeIt("#typed-text", {
  speed: 30,
  })
  .type('const olly: Ingredient[] = [')
  .break()
  .type('    Designer, ')
  .pause(200)
  .type('Developer, ')
  .pause(200)
  .type('Cat Lover 😸,')
  .pause(200)
  .break()
  .type('    Sugar, ')
  .type('Spice, ')
  .type('...everythingNice')
  .break()
  .type('];')
  .go();
</script>